.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.row {
    width: auto;

}


/*.bot { 
   	display: block;
    margin: auto;

}
*/

.search-bar {

  margin-right: 20px;
  text-align: center;
}

.search-bar input {

  width: 100%;
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
}