.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.row {
    width: auto;

}


/*.bot { 
   	display: block;
    margin: auto;

}
*/

.search-bar {

  margin-right: 20px;
  text-align: center;
}

.search-bar input {

  width: 100%;
}

